RewriteEngine on

# Preserve Authorization header for APIs
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Si el sitio está en la raíz del dominio/subdominio, usar '/'.
# Cambia esto sólo si tu aplicación está en un subdirectorio (p.ej. '/test/').
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

